body {
    background-image: url('homepage_local.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

#showProfileFormBtn {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 100px;
    background-color: #e20069ce;
    color: white;
    border-radius: 5px;
    border-style: solid;
    border-width: 3px;
    border-color: #18011dce;
    cursor: pointer;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    margin: 5px auto;
}

#showProfileFormBtn:hover {
    opacity: 0.8;
}

/* Character profiles container */
#characterProfiles {
    margin-top: 80px;
}


.modal-box {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 1, 12, 0.637);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: linear-gradient(to bottom, rgb(123, 5, 78), rgb(56, 2, 70));
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    height: 85%;
    max-width: 500px;
    margin: auto;
}

h2 {
    text-align: center;
    color: rgb(245, 231, 235);
    font-family: Helvetica, sans-serif;
}

#closeProfileFormBtn {
    background-color: #1d020d;
    color: white;
    border: none;
    padding: 2px 7px;
    cursor: pointer;
    border-radius: 1px;
}

#profileTitle, #profileContent {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ffe600;
    width: 95%;
    font-family: Helvetica, sans-serif;
    resize: none;
    margin-top: 10px;
}

.image-upload {
    position: relative;
    width: 200px;
    height: 200px;
    margin: auto;
}

.image-upload, .upload {
    color: rgba(255, 169, 194, 0.671);
    font-family: Helvetica, sans-serif;
    font-size: 0.8em;
    text-align: center;
}

#imageUpload {
    display: none;
}

#imagePreview {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid #3e0246;
    cursor: pointer;
    border-radius: 5px;
    background-color: #fff;
    margin-top: 15px;
}

#profileContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 30px;
    margin-top: 50px;
    margin-left: 90px;
    margin-right: 90px;
}

.profile-card {
    border: 1px solid #e70f7b;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, rgb(46, 3, 37), rgb(0, 0, 0));
    height: 230px;
}

.profile-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 1px solid #e70f7b;
}

.profile-card .profile-name {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
    color: rgb(212, 195, 163);
    font-family: Helvetica, sans-serif;
}

.profile-card .profile-description {
    font-size: 0.9em;
    color: rgb(226, 168, 7);
    text-align: center;
    flex-grow: 1;
    font-family: Helvetica, sans-serif;
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
    width: 130px;
}

.profile-actions {
    display: flex;
    gap: 15px;
}

.edit-btn, .delete-btn {
    background-color: rgb(221, 125, 0);
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.delete-btn {
    background-color: #af2300;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 15px;
    background-color: rgba(59, 3, 55, 0.974);
    color: lavender;
    border-radius: 25% 10%;
    border-style: solid;
    border-width: 2px;
    border-color: #e20069ce;
}

.openbtn:hover {
    background-color: grey;
}

/* Sidebar styles */
.sidepanel {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(31, 1, 25));
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    font-family: Helvetica, sans-serif;
}

.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(243, 227, 243);
    display: block;
    transition: 0.3s;
}

.sidepanel a:hover {
    color: grey;
}

.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.submenu {
    display: none;
    padding-left: 20px;
}

.submenu a {
    font-size: 20px; 
    color: rgb(243, 227, 243); 
}

.submenu a:hover {
    color: grey; 
}

.sidepanel a:hover { 
    color: grey;
}